<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <!-- This file lives in public/404.html -->
  <div class="dialog">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">The page you were looking for doesn't exist.</h3>
      </div>
      <div class="panel-body">
        <p>You may have mistyped the address or the page may have moved.</p>
        <%= link_to "Back to the Waddams Emporium", items_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</body>
</html>
