<div class="reviews container">
  <h3>Reviews</h3>
  <% item.reviews.each do |review| %>
    <div class="review panel panel-default">
      <div class="panel-body">
        <h4> <%= review.body %> </h4>
        <p> Posted by <%= review.user.username %> </p>
        <p> Posted on <%= review.created_at %> </p>
        <div class="stars">
          <% review.stars.times do %>
            <span class="glyphicon glyphicon-star"></span>
          <% end %>
          <% (5 - review.stars).times do %>
            <span class="glyphicon glyphicon-star-empty"></span>
          <% end %>
          <% if review.user == current_user %>
            <%= button_to "Delete Review", item_review_path(review), method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
