<%= @item.title %>
<%= number_to_currency(@item.dollars) %>
<%= image_tag @item.image_url %>

<% if @item.retired? %>
  <div class="label label-warning">Item Retired</div>
<% else %>
  <%= button_to "Add to Cart", cart_path(item_id: @item.id) %>
<% end %>
