html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body{
  font-family: "Sans-Serif";
  background: white;
}

.jumbotron {
background-image: url("https://hd.unsplash.com/photo-1432821596592-e2c18b78144f");
background-size: cover;
}

.jumbotron h1 {
  text-align: center;
  color: white;
  font-family: "Courier New";
}

img.thumbnail {
  height: 100px;
}
