html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body{
  font-family: "Quattrocento";
  background: white;
}

.item {
  text-align: center;
  margin-top: 2em;
}

.item h5 {
  font-family: 'Quattrocento';
}

h2.discrepancy {
  font-family: 'Quattrocento';
}

h2.item_header {
  font-family: 'Quattrocento';
  text-align: center;
}

.jumbotron {
background-image: url("https://hd.unsplash.com/photo-1432821596592-e2c18b78144f");
background-size: cover;
}

.jumbotron h1 {
  text-align: center;
  color: white;
  font-family: "Courier New";
  font-weight: bold;
}

img.thumbnail {
  height: 5px;
}
